{% load static %}


   <footer class="footer">
    <div class="rights flex-row">
        <h4 class="text-gray">
            Copyright ©2021 All rights reserved | made by Atakan
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>


<!-- Jquery Library file -->
<script src="{% static 'js/Jquery3.4.1.min.js' %}"></script>

<!-- --------- Owl-Carousel js ------------------->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- ------------ AOS js Library  ------------------------- -->
<script src="{% static 'js/aos.js' %}"></script>

<!-- Custom Javascript file -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>